# This workflow will do a clean install of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Build for Main PR

on:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x,16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    - run: npm run build

    - name: if build changes exists
      # pr created with ts changes only
      id: changes
      uses: UnicornGlobal/has-changes-action@v1.0.11
        
    - name: GitHub Commit & Push
      if: steps.changes.outputs.changed == 1
      uses: stefanzweifel/git-auto-commit-action@v4.11.0
      with:
        message: ts build changes
